{
    "env": {
        "node": true,
        "browser": true,
        "es6": true
    },
    "parserOptions": {
        "ecmaVersion": 8
    },
    "plugins": [
        "jsdoc",
        "no-warning-comments-case"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:jsdoc/recommended"
    ],
    "globals": {
        "discotron": "readonly",
        "DiscordJS": "readonly"
    },
    "rules": {
        "eqeqeq": "error",
        "semi": "error",
        "curly": "error",
        "brace-style": "error",
        "jsdoc/newline-after-description": "off",
        "space-infix-ops": "error",
        "no-multi-spaces": "error",
        "no-var": "error",
        "no-unused-vars": "warn",
        "keyword-spacing": "error",
        "comma-spacing": "error",
        "no-implicit-coercion": "error",
        "quotes": ["error", "double", { "avoidEscape": false }],
        "spaced-comment": ["error", "always", { "block": { "balanced": true } }],
        "no-warning-comments-case/no-warning-comments-case": "error",
        "indent": [
            2,
            4,
            {
                "SwitchCase": 1,
                "VariableDeclarator": 1
            }
        ]
    }
}
