:root {
    --color-primary-darkest: #1B4F72;
    --color-primary-dark: #2874A6;
    --color-primary: #3498DB;
    --color-primary-light: #5DADE2;
    --color-primary-lightest: #D6EAF8;

    /* Dark mode */
    --color-text-light: white;
    --color-text: #f0f0f0;
    --color-text-dark: #7e7e7e;

    --color-background-darkest: #131313;
    --color-background-dark: #181818;
    --color-background: #202020;
    --color-background-light: #2e2e2e;
    --color-background-lightest: #4e4e4e;

    --color-link: #927fbf;
}


/* General */
html, body {
    height: 100%;
}

body {
    background-color: var(--color-background-dark);
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-text);
}

/* "Components" */
.shadow-small {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.shadow-big {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.round {
    border-radius: 50px;
}

a {
    color: var(--color-primary-light);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Forms */
button, .button-link, input, textarea, select {
    color: var(--color-text);
    border-radius: 2px;
    margin: 5px;
    padding: 12px;
    background-color: var(--color-background);
    border: none;
}

select:disabled, textarea:disabled, input[ type="text" ]:disabled {
    color: var(--color-text-dark);
}

button, input[ type="button" ], input[ type="submit" ] {
    background-color: var(--color-primary);
    cursor: pointer;
    width: 150px;
}

button, input[ type="button" ]:hover, input[ type="submit" ]:hover {
    background-color: var(--color-primary-light);
}

input[ type="button" ]:disabled, input[ type="submit" ]:disabled {
    background-color: var(--color-background-dark) !important;
    border: 1px solid var(--color-background-light) !important;
    color: var(--color-text-dark);
    cursor: default;
}

input[ type="button" ]:disabled:hover, input[ type="submit" ]:disabled:hover {
    background-color: var(--color-background-dark) !important;
}

label {
    vertical-align: middle;
    display: inline-block;
    width: 300px;
}

.widget-header {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.3em;
    margin-bottom: 20px;
}

/* Utilities */
.red {
    background-color: #c0392b !important;
}

.red-text {
    color: #c0392b !important;
}

.orange {
    background-color: #e67e22 !important;
}

.green {
    background-color: #2ecc71 !important;
}

.green-text {
    color: #2ecc71 !important;
}

.bot-status {
    margin-left: 20px;
    font-size: 1em !important;
}

.small {
    width: 30%;
}

.clickable {
    cursor: pointer;
}

/* Widgets */
.widget-background {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

/* Source: https://stackoverflow.com/questions/396145/how-to-vertically-center-a-div-for-all-browsers */
.widget-outer {
    cursor: default;
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.widget-middle {
    display: table-cell;
    vertical-align: middle;
}

.widget-inner {
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    min-width: 600px;

    background-color: var(--color-background);
    padding: 20px;
    border-radius: 4px;

    max-height: 100%;
    overflow: auto;
}


.widget-buttons {
    position: relative;
    bottom: -20px;
    background-color: var(--color-background-light);
    left: -20px;
    padding: 10px;
    width: calc(100% + 20px);
    border-radius: 0 0 4px 4px;
    text-align: right;
}

.widget-buttons .red {
    background-color: transparent !important;
}

.widget-buttons .red:hover {
    text-decoration: underline;
}

.widget-inner input[ type="text" ], .widget-inner textarea, .widget-inner select {
    background-color: var(--color-background-dark);
    color: var(--color-text);
}

.widget-inner textarea {
    width: calc(100% - 40px);
    height: 400px;
    margin-top: 20px;
}

/* Checkbox sliding, source: https://www.w3schools.com/howto/howto_css_switch.asp */

/* The switch - the box around the slider */
.switch {
    margin-top: 8px;
    margin-bottom: 8px;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
input.switch {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-background-darkest);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--color-text);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked+.slider {
    background-color: var(--color-primary);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--color-primary);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.link, .button-link {
    border: none;
    background: none !important;
    color: var(--color-primary-light);
    padding-left: 2px;
    text-align: left;
    font-size: 0.9em;
    width: auto !important;
}

.link:hover {
    text-decoration: underline;
}