:root {
    --color-primary-darkest: #1B4F72;
    --color-primary-dark: #2874A6;
    --color-primary: #3498DB;
    --color-primary-light: #5DADE2;
    --color-primary-lightest: #D6EAF8;

    /* Dark mode */
    --color-text-light: #ffffff;
    --color-text: #f0f0f0;
    --color-text-dark: #7e7e7e;

    --color-background-darkest: #131313;
    --color-background-dark: #181818;
    --color-background: #202020;
    --color-background-light: #2e2e2e;
    --color-background-lightest: #4e4e4e;

    --color-link: #927fbf;
}


/* General */
html,
body {
    height: 100%;
}

body {
    background-color: var(--color-background-dark);
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-text);
}

/* "Components" */
.shadow-small {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.shadow-big {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}


.round {
    border-radius: 50px;
}

/* Nav */
nav {
    display: inline-block;
    background-color: var(--color-background);
    height: 100%;
    width: 400px;
}

nav ul {
    padding: 20px;
    margin: 0px;
    padding-top: 10px;
}

nav li {
    list-style-type: none;
    font-size: 1.2em;
    color: var(--color-primary-text);
}

nav .header {
    padding-top: 20px;
    padding-bottom: 10px;
}

nav li a,
nav li a:visited {
    color: var(--color-text-dark);
    text-decoration: none;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 2px;
    display: inline-block;
    width: 335px;
}

nav li a:hover {
    color: var(--color-primary-text);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.1);
}

nav li i {
    margin-right: 10px;
    color: var(--color-text-dark);
}

nav li hr {
    border: 1px solid var(--color-background-dark);
}

.server-link {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: bottom;
}

.server-icon {
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 20px;
}

#bot-info,
#user-info {
    background-color: var(--color-background-light);
}

#bot-info img {
    height: 55px;
    width: 55px;
    vertical-align: middle;
    margin: 20px;
}

#user-info img {
    height: 35px;
    width: 35px;
    vertical-align: middle;
    margin: 20px;
    background-color: var(--color-primary-light);
}

#bot-info span,
#user-info span {
    margin-left: 10px;
    font-size: 1.3em;
}

#user-info span {
    font-size: 1.1em;
    vertical-align: middle;
}

#user-info {
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 400px;
    font-size: 0.95em;
}

#reload-bot {
    color: var(--color-primary-text);
    background-color: var(--color-background-light);
}

/* Main */

main {
    display: inline-block;
    vertical-align: top;
    overflow-y: auto;
    margin-left: 50px;
    margin-top: 30px;
    height: calc(100% - 30px);
    width: calc(100% - 455px);
}

main a,
main a:visited {
    color: var(--color-link-text);
}

main h1,
.widget-header {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1.3em;
}

/* Forms */
button,
input,
textarea,
select {
    /*
    background-color: rgba(255,255,255,0.1);
    */
    color: var(--color-text);
    border-radius: 2px;
    margin: 5px;
    padding: 12px;
    background-color: var(--color-background);
    border: none;
}

select:disabled,
textarea:disabled,
input[type="text"]:disabled {
    color: var(--color-text-dark);
}

button,
input[type="button"],
input[type="submit"] {
    background-color: var(--color-primary);
    cursor: pointer;
    width: 150px;
}

button,
input[type="button"]:hover,
input[type="submit"]:hover {
    background-color: var(--color-primary-light);
}

input[type="button"]:disabled,
input[type="submit"]:disabled {
    opacity: 0.3;
    cursor: default;
}

input[type="button"]:disabled:hover,
input[type="submit"]:disabled:hover {
    background-color: var(--color-primary);
}

label {
    display: inline-block;
    width: 300px;
}

/* Repository */
.repository-header {
    color: var(--color-text-dark);
    font-size: 1.1em;
}

.repository-status {
    color: var(--color-text-dark);
    font-size: 0.8em;
    margin-left: 15px;
    margin-top: -10px;
}

.repository-status p {
    display: inline-block;
}

.status-circle {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 25px;
    vertical-align: baseline;
    margin-right: 8px;
}

.plugin-bar {
    width: calc(100% - 400px);
}

.repository-card-container {
    margin-top: 10px;
    margin-bottom: 30px;
}

.repository-card {
    cursor: pointer;
    width: 240px;
    height: 140px;
    background-color: var(--color-background-darkest);
    padding: 20px;
    margin: 10px;
    border-radius: 4px;
    display: inline-block;
}

.repository-card-title {
    font-weight: bold;
}

.repository-card-description {
    color: var(--color-text-dark);
}

/* Utilities */
.red {
    background-color: #c0392b !important;
}

.orange {
    background-color: #e67e22 !important;
}

.green {
    background-color: #2ecc71 !important;
}

.small {
    width: 30%;
}

.clickable {
    cursor: pointer;
}

/* Widgets */
.widget-background {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

/* Source: https://stackoverflow.com/questions/396145/how-to-vertically-center-a-div-for-all-browsers */
.widget-outer {
    cursor: default;
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.widget-middle {
    display: table-cell;
    vertical-align: middle;
}

.widget-inner {
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    min-width: 600px;

    background-color: var(--color-background);
    padding: 20px;
    border-radius: 4px;
}

.widget-inner label {
    vertical-align: middle;
    margin-top: 25px;
}

.widget-buttons {
    position: relative;
    bottom: -20px;
    background-color: var(--color-background-light);
    left: -20px;
    width: calc(100% + 40px);
    border-radius: 0px 0px 4px 4px;
    text-align: right;
}

.widget-buttons .red {
    background-color: transparent !important;
}

.widget-buttons .red:hover {
    text-decoration: underline;
}

.widget-inner input[type="text"],
.widget-inner textarea,
.widget-inner select {
    background-color: var(--color-background-dark);
    color: var(--color-text);
}

.widget-inner textarea {
    width: calc(100% - 40px);
    height: 400px;
    margin-top: 20px;
}

/* Checkbox sliding, source: https://www.w3schools.com/howto/howto_css_switch.asp */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-background-dark);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--color-text);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--color-primary);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--color-primary);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.user-list-container span, .role-list-container span {
    display: inline-block;
    background-color: var(--color-background-dark);

    border-radius: 8px;
    padding: 15px;
    margin: 5px;
}