<template id="template-channel-state">
    <div class="channel-state">
        <label class="channel-selector-channel"></label>
        <label class="switch">
            <input class="channel-selector-checkbox" type="checkbox">
            <span class="slider round"></span>
        </label>
    </div>
</template>

<span class="widget-header">Allowed channel list</span>
<p class="description">If all channels are selected, the bot will be allowed to post in future new channels as well.</p>

<div class="channel-selector">

</div>