<span class="widget-header">Allowed channel list</span>
<p class="description">If all channels are selected, the bot will be allowed to post in future new channels as well.</p>
<div class="channel-selector">
    <label class="channel-selector-channel">#general</label>
    <label class="switch">
        <input type="checkbox" checked>
        <span class="slider round"></span>
    </label>
    <label class="channel-selector-channel">#announcements</label>
    <label class="switch">
        <input type="checkbox" checked>
        <span class="slider round"></span>
    </label>
    <label class="channel-selector-channel">#spam</label>
    <label class="switch">
        <input type="checkbox" checked>
        <span class="slider round"></span>
    </label>
    <label class="channel-selector-channel">#memes</label>
    <label class="switch">
        <input type="checkbox" checked>
        <span class="slider round"></span>
    </label>
    <label class="channel-selector-channel">#respect-chan</label>
    <label class="switch">
        <input type="checkbox" checked>
        <span class="slider round"></span>
    </label>
    <label class="channel-selector-channel">#rules</label>
    <label class="switch">
        <input type="checkbox" checked>
        <span class="slider round"></span>
    </label>
    <label class="channel-selector-channel">#general</label>
    <label class="switch">
        <input type="checkbox" checked>
        <span class="slider round"></span>
    </label>
    <label class="channel-selector-channel">#announcements</label>
    <label class="switch">
        <input type="checkbox" checked>
        <span class="slider round"></span>
    </label>
    <label class="channel-selector-channel">#spam</label>
    <label class="switch">
        <input type="checkbox" checked>
        <span class="slider round"></span>
    </label>
    <label class="channel-selector-channel">#memes</label>
    <label class="switch">
        <input type="checkbox" checked>
        <span class="slider round"></span>
    </label>
    <label class="channel-selector-channel">#respect-chan</label>
    <label class="switch">
        <input type="checkbox" checked>
        <span class="slider round"></span>
    </label>
    <label class="channel-selector-channel">#rules</label>
    <label class="switch">
        <input type="checkbox" checked>
        <span class="slider round"></span>
    </label>
    <label class="channel-selector-channel">#general</label>
    <label class="switch">
        <input type="checkbox" checked>
        <span class="slider round"></span>
    </label>
    <label class="channel-selector-channel">#announcements</label>
    <label class="switch">
        <input type="checkbox" checked>
        <span class="slider round"></span>
    </label>
    <label class="channel-selector-channel">#spam</label>
    <label class="switch">
        <input type="checkbox" checked>
        <span class="slider round"></span>
    </label>
    <label class="channel-selector-channel">#memes</label>
    <label class="switch">
        <input type="checkbox" checked>
        <span class="slider round"></span>
    </label>
    <label class="channel-selector-channel">#respect-chan</label>
    <label class="switch">
        <input type="checkbox" checked>
        <span class="slider round"></span>
    </label>
    <label class="channel-selector-channel">#rules</label>
    <label class="switch">
        <input type="checkbox" checked>
        <span class="slider round"></span>
    </label>
</div>