<span class="widget-header">Module settings: <span class="module-name"></span></span class="widget-header">
<p class="description">Version: <span class="module-version"></span></p>
<label>Enabled</label>

<label class="switch">
    <input class="enabled-checkbox" type="checkbox" checked>
    <span class="slider round"></span>
</label>

<br>

<label>Global prefix</label><input class="global-prefix" type="text" placeholder="Prefix" value="">

<hr>

<label>Logs</label>
<textarea class="logs" readonly>
</textarea>