<span class="widget-header">Plugin settings: <span class="plugin-name"></span></span>
<p class="description">Version: <span class="plugin-version"></span></p>
<label>Enabled</label>

<label class="switch">
    <input class="enabled-checkbox" type="checkbox" checked>
    <span class="slider round"></span>
</label>

<br>

<label>Global prefix</label><input class="global-prefix" type="text" placeholder="Prefix" value="">

<hr>

<label>Logs</label><input type="button" class="button-link refresh-logs log-refresh" value="Refresh logs">
<textarea class="logs" readonly>
</textarea>