<span class="widget-header"></span>

<!-- Allow setting custom fields on top
<label>Plugin enabled</label>
<label class="switch">
    <input type="checkbox" checked>
    <span class="slider round"></span>
</label><br><br>
-->

<template id="user-entry">
    <span class="shadow-small deletable"><!--span class="deletion-hover">Delete</span>--><i class="fas fa-user"></i> </span>
</template>

<template id="role-entry">
    <span class="role-color deletable" style="color: white;"><!--<span class="deletion-hover">Delete</span>--><i class="fas fa-users"></i> </span>
</template>

<label>Grant permission to user / role</label><br>
<input id="name-input"type="text" placeholder="Type user / role"><input id="add-button" type="button" value="Add">

<hr>

<label>Allowed users</label><br>
<div class="user-list-container">
</div>

<br>

<div id="role-container">
    <label>Allowed roles</label><br>
    <div class="role-list-container">
    </div>
</div>