<span class="widget-header">Module settings: Lelmaker</span>
<!-- Allow setting custom fields on top
<label>Plugin enabled</label>
<label class="switch">
    <input type="checkbox" checked>
    <span class="slider round"></span>
</label><br><br>
-->
<label>Grant permission to user / role</label><br>
<input type="text" placeholder="Type user / role"><input type="button" value="Add">
<label>Allowed users</label>
<div class="user-list-container">
    <span class="shadow-small"><i class="fas fa-user"></i> Blatoy#0001</span>
    <span class="shadow-small"><i class="fas fa-user"></i> G Visière#5451</span>
</div>
<label>Allowed roles</label><br>
<div class="role-list-container">
    <span style="color: white;"><i class="fas fa-users"></i> everyone</span>
    <span><i style="color: rgb(121, 43, 43);" class="fas fa-users"></i> admin</span>
    <span><i style="color: rgb(28, 35, 134);" class="fas fa-users"></i> leenox</span>
    <span><i style="color: rgb(121, 33, 33);" class="fas fa-users"></i> everyone</span>
    <span><i style="color: rgb(79, 155, 35);" class="fas fa-users"></i> admin</span>
    <span><i style="color: rgb(28, 35, 134);" class="fas fa-users"></i> leenox</span>
    <span><i style="color: rgb(158, 24, 158);" class="fas fa-users"></i> everyone</span>
    <span><i style="color: rgb(121, 43, 43);" class="fas fa-users"></i> admin</span>
    <span><i style="color: rgb(1, 2, 22);" class="fas fa-users"></i> leenox</span>
</div>