<div id="bot-info" class="shadow-small bot-info-status">
    <img class="shadow-small round" src="https://i.imgur.com/hGhiwLI.png" /><span>DiscoJ#4513 <span
            class="green-text bot-status">Online</span></span>
</div>

<h1>Settings</h1>
<label>Bot status text: </label><input type="text" placeholder="!help"><br /><br>
<label>Allowed owners</label><input type="button" value="Manage owners"><br><br>
<h1>Maintenance</h1><br>
<label>Ignore non-owners: </label>
<label class="switch">
    <input type="checkbox" checked>
    <span class="slider round"></span>
</label><br><br>
<label>Restart bot</label><input type="button" class="red" value="Restart"><br>
<hr>
<input type="button" value="Save settings" disabled>