<h1>Add repository</h1>
<input type="text" class="plugin-bar" placeholder="Clonable repository URL" />
<input type="button" value="Add">
<h1>Loaded repositories</h1>
<div class="repository-container">
    <input type="text" class="plugin-bar" value="https://github.com/blatoy/discotron-base-kit.git" disabled />
    <input class="red" type="button" value="Delete"><input type="button" class="green" value="Up to date" disabled>
    <div class="repository-status">
        <span class="status-circle green shadow-small"></span>
        <p> Up to date with <b>master</b></p>
    </div>

    <div class="repository-card-container">
        <div class="repository-card shadow-big">
            <span class="repository-card-title">LelMaker</span>
            <p class="repository-card-description">LelMaker is a module managing lel sentences creation, it can do a lot
                of stuff.</p>
        </div>
        <div class="repository-card shadow-big" onclick="document.querySelector('#demo').style.display = 'block';">
            <span class="repository-card-title">Space launches</span>
            <p class="repository-card-description">Space launches allows users to see latest space launches in discord.
            </p>
        </div>
        <div class="repository-card shadow-big">
            <span class="repository-card-title">LelMaker</span>
            <p class="repository-card-description">LelMaker is a module managing lel sentences creation, it can do a lot
                of stuff.</p>
        </div>
        <div class="repository-card shadow-big">
            <span class="repository-card-title">Space launches</span>
            <p class="repository-card-description">Space launches allows users to see latest space launches in discord.
            </p>
        </div>
        <div class="repository-card shadow-big">
            <span class="repository-card-title">LelMaker</span>
            <p class="repository-card-description">LelMaker is a module managing lel sentences creation, it can do a lot
                of stuff.</p>
        </div>
        <div class="repository-card shadow-big">
            <span class="repository-card-title">Space launches</span>
            <p class="repository-card-description">Space launches allows users to see latest space launches in discord.
            </p>
        </div>
    </div>

</div>
<div class="repository-container">
    <input type="text" class="plugin-bar" value="https://github.com/g-wizzy/discotron-kit.git" disabled />
    <input class="red" type="button" value="Delete"><input type="button" class="green" value="Update">
    <div class="repository-status">
        <span class="status-circle orange shadow-small"></span>
        <p> <b>5</b> commits behind <b>master</b></p>
    </div>
    <div class="repository-card-container">
        <div class="repository-card shadow-big">
            <span class="repository-card-title">LelMaker</span>
            <p class="repository-card-description">LelMaker is a module managing lel sentences creation, it can do a lot
                of stuff.</p>
        </div>
        <div class="repository-card shadow-big">
            <span class="repository-card-title">Space launches</span>
            <p class="repository-card-description">Space launches allows users to see latest space launches in discord.
            </p>
        </div>
        <div class="repository-card shadow-big">
            <span class="repository-card-title">LelMaker</span>
            <p class="repository-card-description">LelMaker is a module managing lel sentences creation, it can do a lot
                of stuff.</p>
        </div>
    </div>
</div>

<!-- Temp for demo purpose -->
<div class="widget-background" id="demo" style="display: none;" onclick="this.style.display = 'none';">
    <div class="widget-outer">
        <div class="widget-middle">
            <div class="widget-inner shadow-big">
                <span class="widget-header">Module settings: Space launches</span class="widget-header">
                <label>Enabled</label>
                <label class="switch">
                    <input type="checkbox" checked>
                    <span class="slider round"></span>
                </label><br><br>

                <label>Global prefix</label><input type="text" placeholder="Prefix" value="!spc"><br><br>
                <label>Logs</label>
                <textarea class="logs">
                        </textarea>
                <div class="widget-buttons">
                    <input class="red" type="button" value="Cancel">
                    <input type="button" value="Apply">
                </div>
            </div>
        </div>
    </div>
</div>