<!--<h1>Server settings</h1>

<label>Command prefix</div> <input type="text">

<button>Permissions per module</button>  Link to plugin-permissions 
<button>Allowed channels</button> Popup 

<h2>Authorized users / groups</h2>-->
<h1>Settings</h1>
<label>Command prefix </label><input type="text" value="!" placeholder="!"><br /><br>
<label>Permissions</label><input type="button" value="Manage bot admins"> <input type="button" value="Manage channels"><br>
<br><hr><br>
<input type="button" value="Save settings" disabled><br><br>
<hr><br>
<h1>Plugin list</h1>
<div class="repository-container">
    <div class="repository-card-container">
        <div class="repository-card shadow-big">
            <span class="repository-card-title">LelMaker</span>
            <p class="repository-card-description">LelMaker is a module managing lel sentences creation, it can do a lot
                of stuff.</p>
        </div>
        <div class="repository-card shadow-big"
            onclick="document.querySelector('.widget-background').style.display = 'block';">
            <span class="repository-card-title">Space launches</span>
            <p class="repository-card-description">Space launches allows users to see latest space launches in discord.
            </p>
        </div>
        <div class="repository-card shadow-big">
            <span class="repository-card-title">LelMaker</span>
            <p class="repository-card-description">LelMaker is a module managing lel sentences creation, it can do a lot
                of stuff.</p>
        </div>
        <div class="repository-card shadow-big">
            <span class="repository-card-title">Space launches</span>
            <p class="repository-card-description">Space launches allows users to see latest space launches in discord.
            </p>
        </div>
        <div class="repository-card shadow-big">
            <span class="repository-card-title">LelMaker</span>
            <p class="repository-card-description">LelMaker is a module managing lel sentences creation, it can do a lot
                of stuff.</p>
        </div>
        <div class="repository-card shadow-big">
            <span class="repository-card-title">Space launches</span>
            <p class="repository-card-description">Space launches allows users to see latest space launches in discord.
            </p>
        </div>


        <div class="repository-card shadow-big">
            <span class="repository-card-title">LelMaker</span>
            <p class="repository-card-description">LelMaker is a module managing lel sentences creation, it can do a lot
                of stuff.</p>
        </div>
        <div class="repository-card shadow-big">
            <span class="repository-card-title">Space launches</span>
            <p class="repository-card-description">Space launches allows users to see latest space launches in discord.
            </p>
        </div>
        <div class="repository-card shadow-big">
            <span class="repository-card-title">LelMaker</span>
            <p class="repository-card-description">LelMaker is a module managing lel sentences creation, it can do a lot
                of stuff.</p>
        </div>
    </div>
</div>