<div class="page-header shadow-small bot-info-status">
    <img id="header-icon" class="shadow-small round" src="" /><span id="guild-name"></span>
</div>

<h1>Guild settings</h1>
<label>Commands prefix </label><input id="prefix" type="text" value="!" placeholder="!"><br><br>
<h1>Permissions</h1>
<label>Lock bot to channels</label><input id="channel-locking" type="button" class="link"
    value="Manage channel locking"><br>
<label>Plugin permissions</label><a href="#plugin-list?guild=" id="manage-plugin-link" class="button-link">Manage
    plugins</a><br>
<label>Guild admin</label><input id="admins" type="button" class="link" value="Manage guild admins"><br>
<br>
<hr><br>
<input type="button" id="save" value="Save settings" disabled><br><br>