<div class="page-header shadow-small bot-info-status">
    <img id="header-icon" class="shadow-small round" src="" /><span id="guild-name"></span>
</div>

<a id="go-back" href="#guild-settings?guild=">Go back to guild settings</a>
<hr>
<h1>Loaded plugins list</h1>

<template id="template-card">
    <div class="repository-card shadow-big">
        <span class="repository-card-title"></span>
        <p class="repository-card-description"></p>
    </div>
</template>

<div id="plugin-container">

</div>